<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">Password!1</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/photo_app?useSSL=false</property>
        <property name="hibernate.connection.username">simon</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
        <!-- c3p0 connection pooling configuration -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">25</property>
        <!-- number of seconds that an idle connection will be kept while left idle -->
        <property name="hibernate.c3p0.timeout">300</property>
        <!-- number of statements that will be cached to improve performance -->
        <property name="hibernate.c3p0.max_statements">50</property>
        
        <mapping class="com.simonsrestfulapp.app.ws.io.entity.UserEntity"></mapping>
        
    </session-factory>
</hibernate-configuration>